.left {
   float: left;
   padding-left:20px;
   padding-top:20px;
}
.right {
   padding-top:190px;
   padding-right:100px;
}
.main {
 display:flex;
 border:1px solid black;
 margin-left:300px;
 margin-right:300px;
}
img {
  border-radius: 50%;
  width:20%;
}
